language: python
python:
  - "2.7"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6"
  - "3.6-dev" # 3.6 development branch
services:
  - docker
# command to install dependencies
addons:
  apt:
    packages:
        - libblas-dev
        - liblapack-dev
        - libatlas-base-dev
        - libopenblas-base
        - libopenblas-dev
        - gfortran
        - oracle-java8-set-default
        - maven
install:
  - pip install codecov
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt
before_install:
  - git clone --depth 1 https://github.com/saalfeldlab/render.git render -b master
  - mvn package -pl render-ws-java-client -am -DskipTests -f render/pom.xml
  - export RENDER_CLIENT_JAR=`readlink -m $TRAVIS_BUILD_DIR/render/render-ws-java-client/target/render-ws-java-client-*-standalone.jar`
  - export RENDER_WS_JAVA_CLIENT_EXAMPLE_DATA=`readlink -m $TRAVIS_BUILD_DIR/render/render-ws-java-client/src/main/resources`
  - export RENDER_APP_EXAMPLE_DATA=`readlink -m $TRAVIS_BUILD_DIR/render/render-app/src/test/resources`
  - export RENDER_JAVA_HOME=$JAVA_HOME
  - mkdir -p /tmp/example_1 && cp -R $RENDER_WS_JAVA_CLIENT_EXAMPLE_DATA/example_1 /tmp/.
  - cp -R $RENDER_APP_EXAMPLE_DATA/* /tmp/.
  - export RENDER_EXAMPLE_DATA=/tmp
  - docker-compose up -d
env:
  - RENDER_HOST=localhost RENDER_PORT=8080 RENDER_CLIENT_SCRIPTS=$TRAVIS_BUILD_DIR/render/render-ws-java-client/src/main/scripts
# command to run tests
script:
  - python setup.py test # or py.test for Python versions 3.5 and below
cache:   
  pip: true                                                                    
  directories:                                                                  
    - $HOME/.m2
secure: "x3rK0ICjrT1yAguEgq7/UyNDDCbbr46j7DsHLzEEgoM4l5crRECfdclgws4s4Z7RH6TRrW3+CKvhJuq/71QRIWBUN/ZUK9REEvgC13mOFFN7PQlhQGHTQPSiJ1oUTtXG5KenNBOOgz9q4vJNFnahn+L+GuN2TiAYRJGbyE8G5A5uFLIhXHVb+Xo295XkarFtX8EFKQmJJzdyFgqU+NsKW2gbq0hIASmQi3swJZhmbzQXhaj0gCuLjQfnDR+3qHzE+v5mQfObk4v6FRf3mdnZRVqV4S67yKONDK5LCkuI69C/1EKPiAfEEg5RKcRIzQlDjApgYVFf+jFjrVy6RLU9xOp2dstSFmynL96N+K4HoRAw53F08WokBih5hbsEwGAb/Fat1fLVy1hqmboF4d5Fy42TXrPmHgkqwlMXABPVqKwoWQTo0sANQdOVNWaF6NyMDTkUwtAzD9IG+Qwu/9v1zleT0VQ92Uk0s8wTDlkVny+8XGv4Pi2sNBcgG+huECNAOQKCeFbMn0LfMoGaKDXNCW4OHp59wXXXJQHAaN8xujwGpwQxJKb3iwf6uY9wnBpfKtaaCqOcP3Y/WhuiuKf4477bZPoQXD+2DFAPlC5nVjn+LzzN1HigdPCWn8F+SianZsL/iuxgEqmiW6OFGGzpqD4zHFNACky3fTS7yBLnd+Q="
after_success:
  - codecov -t 3f12d985-af62-455d-a11d-9669c039640d
  - "BRANCHES_TO_MERGE_REGEX='develop' BRANCH_TO_MERGE_INTO=master GITHUB_REPO=fcollman/render-python .travis/merge_script.sh"
